.profile-page {
  padding: 16px;
  font-family: Arial, sans-serif;
}

.profile-header {
  position: relative;
  margin-bottom: 20px;
  border-radius: 16px;
  overflow: hidden;
}

.profile-picture {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 16px;
}

.profile-info {
  position: absolute;
  bottom: 4px;
  left: 0px;
  backdrop-filter: blur(7px);
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 15px;
  border-radius: 12px;
}

.profile-info h2 {
  margin: 0;
  color: white;
  font-size: 24px;
}

.profile-info p {
  margin: 0;
  font-size: 14px;
  color: white;
}

.about-me {
  background-color: #333;
  color: #ddd;
  padding: 20px;
  border-radius: 16px;
  margin-bottom: 20px;
}

.about-me h3 {
  margin-top: 0;
}

.about-me p {
  margin-bottom: 10px;
}

.interests {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.interests span {
  background-color: #444;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
}

.image-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  width: 100%;
  max-width: 350px;
}

.large-image {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}

.large-image img,
.small-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.small-image {
  grid-row: span 1;
  grid-column: 2;
}
